body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-image: url("./background-hearts.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#content-box{
    width: 400px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 10px;
}
#calculate{
    width: 150px;
    height: 50px;

    background-color: pink;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 10px;
}